.DS_Store
plots/*
__pycache__/
# Python files #
################
# setup.py working directory
build
# sphinx build directory
docs/_build
# setup.py dist directory
dist
# Egg metadata
*.egg-info
.eggs
.pypirc
.ipynb_checkpoints
